/*---------------BODY,HTML-------------------*/
    body,html{
        margin: 0;
        padding: 0;
        font-family:Helvetica;
        }

        
  .banner_content h1,p{
    color : #fff;
}
h1{
    font-size: 30px !important;
}
h2{
    color : #fff !important;
    font-size: 25px !important;
}
h3{
    color : #fff !important;
}


.button{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/*------------------Search Bar------------------*/
    
.searchbar{
        padding: 10px;
        background-color:#0a0f12;
        border-bottom: #6ecffd solid;
        border-width: 1px;

        }
    
        .search_input{
        color: #6ecffd;
        border: 0;
        outline: 0;
        background: none;
        line-height: 0px;
        width:100%;
        }
    
        .search_icon{
        height: 22px;
        width: 22px;
        color: #6ecffd;
        }

.search_input::placeholder{
    font-style: italic;
    color:white !important;

}
a p{
    text-decoration: none !important;
}
form a:hover{
    text-decoration: none;
}

/*---------------HEADER--------------------*/
header{
   
    background-color:#0a0f12;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    margin-top: 0 auto;
   
}


.navbar-light .navbar-nav .nav-link {
    color:#6ecffd !important;
}
.navbar-light .navbar-brand {
    color:#6ecffd !important;

}
.fa-bars{
    color:#6ecffd;
}

/*--------------Nav DropDown-------------*/
.dropdown-menu{
    background-color: #0a0f12 !important;
    color: #6ecffd !important;
}
.dropdown-item{
    color: #6ecffd !important;
}
.dropdown-item:hover{
   background-color:  #6ecffd !important;
   color: #04090d !important;
}


.dropdown-divider{
    border-top:1px solid #6ecffd !important;
}


/*--------------------BANNER AREA---------------*/
.banner-content ,h1,p,h2 {
    color :white;
}
.area{
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    height:100vh;
    position: relative;
    padding: 30px;
    background-image: url(../images/banner_area.jpg);
    margin-top:30px;
}
.area::before {
	position: absolute;
	content: '';
	background-color: rgba(27, 59, 74, 0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

}
.movie-deatils{
    padding-bottom: 20px;
}

.recent{
    background-image: url(../images/movie1.jpg);
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    padding: 30px;
    position: relative;
}
.recent::before{
    position: absolute;
	content: '';
	background-color: rgba(27, 59, 74, 0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.english{
    background-image: url(../images/Ajay-Devgan-In-Shivay-4.jpg);
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    position: relative;
    padding: 30px;

}
.english::before{
    position: absolute;
	content: '';
	background-color: rgba(27, 59, 74, 0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.hindi{
    background-image: url(../images/Ajay-Devgan-In-Shivay-4.jpg);
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    position: relative;
    padding: 30px;
}
.hindi::before{
    position: absolute;
	content: '';
	background-color: rgba(27, 59, 74, 0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.tamil{
    background-image: url(../images/don2-wall.jpg);
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    position: relative;
    padding: 30px;
}
.tamil::before{
    position: absolute;
	content: '';
	background-color: rgba(27, 59, 74, 0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.others{
    background-image: url(../images/Moana-Wallpaper.jpg);
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    position: relative;
    padding: 30px;
}
.others::before{
    position: absolute;
	content: '';
	background-color: rgba(27, 59, 74, 0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


.button{
color:#6ccef3; 
background-color: transparent;
border:#6ccef3 1px solid;
text-decoration: none;
display: inline-block; 
padding: 8px 25px 8px 25px;
border-radius: 5px;
}
.button:hover{
    text-decoration: none;
}
.checked{
    color: #6ccef3; 
}
/*-------------------Left&right carosel-------------------*/

.our-nav{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: -40px;
}


button, select {
    text-transform: none;
    border: none;
    background: none;
    font-size: 100px;
}
.owl-next{
    color: white;
    
}
.owl-prev{

    color: white;
}
span:active{
    border:none;
    
}

a{
    color:white !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.list-movie a:hover{
    text-decoration: none !important;
}
/*---------------------RECENT-------------------*/
.background_image{
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

    position: relative;
}
.background_image::before {
	position: absolute;
	content: '';
	background-color: rgba(27, 59, 74, 0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

}
.relate{
    padding:30px;
    background-color: #04090d;
}
.video-player{
    margin-top: 30px;
    padding: 60px;
}
.player-background{
    background-color:#04090d;
}
.movie-details{
    background-color: #0a0f13;
    padding: 40px;
}

/*----------------------------FOOTER----------------*/
footer{
    background-color: #0b1014;
    padding: 20px 0px;
   
}
.fa-phone{
    color:#6ccef3; 
}
.fa-envelope, .fa-facebook, .fa-twitter{
color:#6ccef3;
}
footer p:hover{
    color: #6ccef3 !important;
    border: none !important;
}
footer a{
    text-decoration: none !important;
}



/*------------------------RESPONSIVE(Media Query)---------*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    h1{
        font-size: 18px !important;
    }
    h2{
        font-size: 15px !important;
    }
    body h3{
        font-size: 15px !important;
    }
    p{
        font-size: 12px !important;
    }

    .our-nav {
        position: absolute;
        top: 0px;
        right: 0px;
        margin-top: -31px;
    }
    .navbar-toggler-icon{
        color: #6ccef3 !important;
    }

    .area{
        padding-bottom: 5px;
        height: 400px;
    }
    .area .button{
        padding: 2px 5px 3px 8px;
        font-size: 12px;
    }
    .movie-deatils{
        padding-bottom: 0px;
    }

}
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
        body h1{
            font-size: 18px !important;
        }
        body h2{
            font-size: 15px !important;
        }
        body h3{
            font-size: 15px !important;
        }
         body p{
            font-size: 12px !important;
        }
    
        .our-nav {
            position: absolute;
            top: 0px;
            right: 0px;
            margin-top: -31px;
        }
        .navbar-toggler-icon{
            color: #6ccef3 !important;
        }
    
        .area{
            padding-bottom: 5px;
            margin-top: 100px;
        }
        .area .button{
            padding: 2px 5px 3px 8px;
            font-size: 12px;
        }
        .movie-deatils{
            padding-bottom: 0px;
        }
    }

    
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 481px) and (max-device-height: 736px){
       h1{
            font-size: 18px !important;
        }
       h2{
            font-size: 15px !important;
        }
        body h3{
            font-size: 15px !important;
        }
       p{
            font-size: 12px !important;
        }
    
        .our-nav {
            position: absolute;
            top: 0px;
            right: 0px;
            margin-top: -31px;
        }
        .navbar-toggler-icon{
            color: #6ccef3 !important;
        }
    
        .area{
            padding-bottom: 5px;
            margin-top: 95px;
        }
        .area .button{
            padding: 2px 5px 3px 8px;
            font-size: 12px;
        }
        .movie-deatils{
            padding-bottom: 0px;
        }
    
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    



